[submodule "phantom_camera"]
	path = external/phantom_camera
	url = git@github.com:ramokz/phantom-camera.git
	branch = 0.11.0.3
[submodule "log.gd"]
	path = external/log.gd
	url = git@github.com:russmatney/log.gd.git
